* {
    box-sizing: border-box;
}
body {
    font-family: 'Old Standard TT', serif;
    min-height: 1500px;
}
.row {
    justify-content: space-between;
    align-items: center;    
}
header {
    background-color: #77767a; 
    position: sticky;  
    top: 0;
    z-index: 10px;
}
.menu, .soc-contakt, .box-contact {
    display: flex;
    flex-direction: row;        
}
li {
    list-style: none;
}
.menu a {
    display: block;
    text-decoration: none;
    color:#05bddd;
    padding: 10px 15px;
    line-height: 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: 2px #77767a solid;
}   
.menu a:hover{
    border-bottom: white 2px solid;
    color: white;
    border-top: transparent;
}
.type-buttom {
    width: 45px;
    height: 45px;
    border: solid 2px #a4a5a8;
    border-radius: 50%; 
    background-color:#05bddd;
    position: absolute;
    right: 0px;
    top:0;        
}
.box-search {
    position: relative;
    width: 150px;
}
.search-field{
    outline: none;   
    width: 120px;
    height: 33px;
    font-family: 'Old Standard TT', serif; 
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 33px;
    background-color:#05bddd;
    border: solid 2px  #a4a5a8;    
    border-radius: 13px;
    margin-top: 7px;     
}
.search-submin {
    width: 25px;
    height: 25px;
    background-color:transparent;
    background-image: url("img/icon (1).png");
    background-repeat: no-repeat;
    border: none;
    margin-top: 15px;
    margin-left: 15px;
    right: 5px;
    top: 0;
    cursor: pointer;
}
.card {
    padding-left: 13px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #05bddd;
    border: solid 2px #a4a5a8;
    padding-top: 12px;
}
.card:hover, .type-buttom:hover, input:hover {
    border: solid 2px white;
}
.enjoy-row {
    justify-content: flex-end;
    align-items: center;
}
.enjoy {    
    align-self: center;
}
h1 { 
    padding: 125px 0px 20px;
    color:#77767a;
    font-size: 46px;
    font-weight: 700;
}
.ligth {
    color: #77767a;
    font-size: 26px;
    font-weight: 400;
    padding: 10px 0px;
}
.soc-img {
    width: 50px;
    height: 50px;    
    border-radius: 50%;
    border: 2px solid #27a5f8;
    margin: 20px 15px;
    background-color: #77767a;
    display: flex;
    align-content: center;
}
.soc-img:hover {
    background-color:#27a5f8;
    border: 2px solid white;
}
.soc-img a {
    align-self: center;
}
section {
    padding-bottom: 60px;
}
.beauty-word {
    background-color: white;   
}
h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 30px 0px;
    
    color: white;
    padding-left: 50px;
}
.green-map {
    background-image: url("img/green-map.jpg");    
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.map-text {
    padding: 30px 0px;
}
.beauty-text {
    padding: 10px 17px 0px 45px;
    color: #0952a2;
}
[class*="-btn"]{
    padding: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
[class*="btn-"] {
    width: 250px;
    height: 60px;
    background-color: #77767a;
    border: 3px solid #27a5f8;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Old Standard TT', serif;
    color: white;
    cursor: pointer; 
    border-radius: 10px;   
}
[class*="btn-"]:hover {
    background-color: #27a5f8;
    border: 3px solid white;
}
.galeri {
    background-color: #aaa9ad;
}
[class*="photo-"] {
    width: 100%;
    object-fit: cover;
    padding: 50px 0px;     
}
[class*="photo-"] img {
    width: 100%;
}
.photo-about {
    width: 400px;
    height: 300px;
}
.photo-about {
    display: flex;
    align-content: space-around;
    padding: 50px 0px; 
    border: 3px solid #27a5f8;   
}
.end {
    align-self: end;
}
.itali-text{
    font-size: 50px;
    font-weight: 400;
    color: white;
    background-color: #77767a;
    padding: 10px 0px;
    border: 3px solid #27a5f8;
    margin-top: 30px;
}
.ligth-2 {
    font-size: 21px;
    font-weight: 400;
    color: #77767a; 
    padding: 10px 0px 10px 40px;     
}
.ligth-22  {
    font-size: 22px;
    font-weight: 400;
    color: #77767a; 
    padding: 25px 10px 10px 10px; 
    border: 3px solid #27a5f8;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gr-galeri, .cr-galeri, .tr-galeri {
    display: flex;
    justify-content: space-around;       
}
.gr-galeri img, .cr-galeri img, .tr-galeri img {
    padding-top: 80px;
    width: 500px;
}
[class*="greece-"],[class*="tyrkey-"],[class*= "croatia-"] {
    width: 280px;
    height: 200px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    object-fit: cover;
}
.greece-1 {
    background-image: url("img/otel-g.jpg");
}
.greece-2 {
    background-image: url("img/break.jpg");
}
.greece-3 {
    background-image: url("img/afin.jpg");
}
.greece-4 {
    background-image: url("img/shipg.jpg");
}
.greece-5 {
    background-image: url("img/night-g.jpg");
}
.croatia-1 {
    background-image: url("img/beach-go.jpg");
}
.croatia-2 {
    background-image: url("img/toun.jpg");
}
.croatia-3 {
    background-image: url("img/green.jpg");
}
.croatia-4 {
    background-image: url("img/waterfall.jpg");
}
.croatia-5 {
    background-image: url("img/night-go.jpg");
}
.tyrkey-1 {
    background-image: url("img/street-ty.jpg");
}
.tyrkey-2 {
    background-image: url("img/over-ty.jpg");
}
.tyrkey-3 {
    background-image: url("img/festewal.jpg");
}
.tyrkey-4 {
    background-image: url("img/istanbul.jpg");
}
.tyrkey-5 {
    background-image: url("img/rack.jpg");
}
[class*="-photo"] {
    display: flex;
    padding: 30px 0px;      
    margin-bottom: 20px; 
    border: 3px solid #27a5f8;
}
.modal {
    background-color: #77767a;
    width: 50%;
    padding: 20px;
    margin: 25px;
}
h4 {
    font-size: 28px;
    font-weight: 700;
    color: white; 
    padding: 35px 92px; 
}
h3 {
    font-size: 24px;
    font-weight: 400;
    color: white; 
    padding-left: 30px;   
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid #27a5f8;
}
.form-field {
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    margin: 10px 15px 25px;
    font-size: 18px;
    color:  #77767a;
    border: 3px solid #27a5f8 ;
}
.button-center {
    padding: 30px 10px;
}
.form-modal {
    background-image: url(img/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title-blue {
    background-color: #27a5f8;
    border: #77767a 5px solid;
}
.form-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact {
    width: 30%;
    height: 220px;
    margin: 25px;
    border: 3px solid #27a5f8;
    background-color: #77767a;
    color: white;
    padding: 20px 0;
}
.box-contact {
    justify-content: center;
}
h5 {
    font-size: 25px;
    font-weight: 700;
    padding: 5px 30px;
}
.inf-use {
    margin-bottom: 40px;
}
.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px solid #27a5f8;
    padding: 15px 0;    
}
.information:hover {
    border: 3px solid #77767a;
}
[class*="inform-block-"] {
    width: 100%;
    height: 150px;
    margin: 8px;
    padding: 9px;   
    background-size: 95%; 
    background-position: center;
    background-repeat: no-repeat;   
    cursor: pointer;
    font-size: 28px;
    font-weight: 700;
    color: white;
}
.inform-block-1 {
    background-image: url(img/sea.jpg);
}
.inform-block-2 {
    background-image: url(img/restorang.jpg);    
}
.inform-block-3 {
    background-image: url(img/rack-sea.jpg);    
}
.inform-block-4 {
    background-image: url(img/map-gold.jpg);    
}
footer {
    background-color: #77767a;
    color: white;
    padding: 15px;
}
.copyright-footer {      
    flex-basis: 56em;
}
.copyright-text {
    color: white;
    font-size: 12px;
    padding-top: 20px;
}
.media-footer {
    display: flex;  
}
[class*='-ft'] {
    margin: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}
.social-media-footer-row {
    display: flex;
    justify-content: center;
}
.work-media-footer-row {
    display: flex;
    justify-content: flex-end;
}
.modal-subscribe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;  
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;  
}
.sub-block {
    width: 300px;
    margin: 80px auto;
    background-color:  #27a5f8;
    border: solid 3px white;
}
.sub-text {
    font-size: 22px;
    font-weight: 700;
    color: white;
    padding: 10px 0px;
}    
.sub-text-1 {
    font-size: 20px;
}   
.sub-field {
    height: 35px;
    line-height: 35px;
    margin: 0px 15px 10px;
    width: 200px;
    font-size: 16px;
    color:  #77767a;
}                            
.btn-sub {
    width: 135px;
    height: 50px;
}
.button-modal {
    padding: 0px 25px;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.tab-active {
   color: #27a5f8;
   background-color: #27a5f8;
   border: 3px solid #27a5f8;
}
.slider-block {
    width: 100%;    
    color: white;
    font-size: 50px;
}
.light-slide-2 {
    width: 400px;
}
[class*="slider-"] {
    background-size: cover;    
    height: 500px; 
}
.slider-1 {
    background-image: url("img/priroda.jpg");   
}
.slider-2 {
    background-image: url("img/pink-sand.jpg");    
}
.slider-3 {
    background-image: url("img/vare.jpg");   
}
.slick-prev, .slick-next {
    top: 50%;
}
.slick-prev {
    left: -43px;
}
.slick-next {
    right: -18px;
}
.slick-prev:before, .slick-next:before {
    font-size: 45px;
    color: #27a5f8;
}
.slick-dots li button:before {
    top: -35px;
}
.slick-dots li.slick-active button:before {
    opacity: 1.75;
    color: #f7f6f6;
}